body{
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    color:blue;
    margin: 20px;
    font-size: 2.5em;
}

.title-page {
  text-align: center;
  margin-top: 10%;
}
button{
    background-color: brown;
    margin-top:  20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
    color: white;
    border: darkbrown solid 2px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(200, 53, 53);
    
}

header{
    display:flex;
    justify-content: space-between;
    color:blueviolet;
    font-size: smaller;
}

.quiz-container{
    margin-top: 10%;
    margin-left:20%;
   
}

.quiz-container h1{
    margin-left: 30px;
}
.question{
    font-size: 1.8em;
    font-weight: bold;
    color: blue;

}
.container{
    display: column;
    flex-direction: row;
    flex-wrap: wrap;

}
.choice{
    background-color: blueviolet;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    border: purple solid 2px;
    border-radius: 5px;
    width: 30%;
}

.choice:hover{
    background-color: purple;
}

.choice[data-state="checked"] {
   background-color: hotpink;
}

ol li{
    list-style: none;
}

#message{
    font-style: italic;
    color: brown;
    font-size: large;
    margin-left: 20%;
    border-top: solid 2px blueviolet;
    padding:10px;
    width:50%;
}

#results{
    margin-left: 20%;
    margin-top: 10%;
}   

#submit {
    background-color: brown;
    margin: 10px;
    padding: 10px;
    color: white;
    border: darkred solid 2px;
    border-radius: 5px;
}

#submit:hover{
    background-color: rgb(200, 53, 53);
}

.high-scores{
    margin-top: 50px;   
    margin-left: 20%;
}

#scores{
    width: 30%;
    min-height: 20px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10%;
    background-color: floralwhite ;
    border: solid 2px blueviolet;
    border-radius: 5px;
    color: blueviolet;
}